<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" id="myImageLabel">Create or edit a Picture</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-5">
                <img data-ng-src="{{'data:' + vm.image.pictureContentType + ';base64,' + vm.image.picture}}"
                     class="img-responsive" ng-if="vm.image.picture"/>
                <div ng-if="vm.image.picture" class="help-block clearfix">
                    <span
                        class="pull-left">{{vm.image.pictureContentType}}, {{vm.byteSize(vm.image.picture)}}</span>
                    <button type="button" ng-click="vm.resetUserPicture()"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPicture($file, vm.patient)" accept="image/*">
                    Browse...
                </button>
            </div>
            <div class="col-lg-5">
                <div id="webcam">
                    <webcam channel="vm.channel"
                            on-streaming="vm.onSuccess()"
                            on-error="vm.onError(err)"
                            on-stream="vm.onStream(stream)"></webcam>
                    <div ng-if="vm.image.picture" class="help-block clearfix">
                        <span class="pull-left">
                            <button class="btn btn-default btn-xs pull-right" type="button"
                                    ng-click="vm.makeSnapshot()">
                                <span class="glyphicon glyphicon-camera"></span>
                            </button>
                        </span>
                    </div>
                    <canvas ng-hide="true" id="snapshot" width="383" height="383"></canvas>
                </div>
            </div>
        </div>


        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<img data-ng-src="{{'data:' + vm.image.pictureContentType + ';base64,' + vm.image.picture}}"-->
                     <!--class="img-responsive" ng-if="vm.image.picture"/>-->
                <!--<div ng-if="vm.image.picture" class="help-block clearfix">-->
                    <!--<span-->
                        <!--class="pull-left">{{vm.image.pictureContentType}}, {{vm.byteSize(vm.image.picture)}}</span>-->
                    <!--<button type="button" ng-click="vm.resetUserPicture()"-->
                            <!--class="btn btn-default btn-xs pull-right">-->
                        <!--<span class="glyphicon glyphicon-remove"></span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<button type="button" ngf-select class="btn btn-default btn-block"-->
                        <!--ngf-change="vm.setPicture($file, vm.image)" accept="image/*">-->
                    <!--Browse...-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Accept</span>
        </button>
    </div>
</form>
