<div class="box-draggable" ng-class="{ 'error': object.invalid}">
    <div class="box-overlay">
        <div class="btn-toolbar btn-toolbar-right">
            <button class="btn btn-default btn-xs" type="button"
                    ng-disabled="field.displayProperties && field.invalid"
                    ng-class="{ 'active': field.showProperties }"
                    ng-click="toggleFieldProperties(field)"
                    title="Configure this field.">
                <span class="fa fa-wrench"></span>
            </button>
            <!--<button class="btn btn-default btn-xs" type="button"-->
                    <!--ng-click="swap(index - 1, index)"-->
                    <!--ng-disabled="index === 0" title="Move up">-->
                <!--<span class="fa fa-arrow-left"></span>-->
            <!--</button>-->
            <!--<button class="btn btn-default btn-xs" type="button"-->
                    <!--ng-click="swap(index, index + 1)"-->
                    <!--ng-disabled="$index === schema.fields.length - 1" title="Move down">-->
                <!--<span class="fa fa-arrow-right"></span>-->
            <!--</button>-->
            <button class="btn btn-default btn-xs btn-danger" type="button"
                    ng-click="removeField(index)" title="Remove">
                <span class="fa fa-trash"></span>
            </button>
        </div>
    </div>
    <div class="box-field-container padding">
        <div class="box-body no-padding">
            <div ng-include="getSchemaField(field)"></div>
        </div>
    </div>
    <div class="box-properties-container" ng-class="{ visible: field.showProperties }">
        <div class="padding">
            <div ng-include="getSchemaFieldProperties(field)"></div>
        </div>
    </div>
</div>