<div class="" ng-class="{ 'error': object.invalid}">
    <div class="box-overlay">
        <div class="btn-toolbar btn-toolbar-right">
            <button class="btn btn-default btn-xs btn-primary" type="button" ng-click="vm.addSection(component)"
                    title="Add this field.">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>
    <div class="box-header with-border">
        <h4 class="box-title">{{section.title}}</h4>
    </div>
    <div class="box-body">
        <div ng-include="vm.getToolbarComponent(component)">
        </div>
    </div>
</div>