<div ng-include="'forms/schema/components/label.html'"></div>
<div class="input-group">
    <input id="{{getUniqueName(field)}}" ods-dynamic-name="getUniqueName(field)" class="form-control" type="text"
           enable-time="field.enableTime" datetime-picker="{{field.format}}" ng-required="getRequired(field)"
           ng-model="field.value" is-open="field.openInEditMode" model-options="field.modelOptions"
           ng-disabled="field.readonly" datepicker-append-to-body="true"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openCalendar(field)" ng-disabled="field.readonly">
            <i class="fa fa-calendar"></i>
        </button>
    </span>
</div>
