<uib-tabset class="nav-tabs-custom">
    <uib-tab index="0" heading="Properties">
        <form name="fieldPropertiesForm" class="form-horizontal">
            <div class="box-body padding-top">
                <div ng-include="'forms/schema/components/base-properties/name-properties.html'"></div>
                <div ng-include="'forms/schema/components/base-properties/label-properties.html'"></div>
                <div ng-include="'forms/schema/components/base-properties/value-properties.html'"></div>
                <div class="row no-vertical-margin">
                    <div class="form-group margin-bottom"
                         ng-class="{'has-error': fieldPropertiesForm.formatSelector.$invalid}">
                        <label for="formatSelector" class="col-sm-4 control-label">Format</label>
                        <div class="col-sm-8">
                            <select name="formatSelector" id="formatSelector" ng-model="field.selectedFormat" class="form-control"
                                    ng-change="onSelectFormat(field.selectedFormat)">
                                <option value="">Select format...</option>
                                <option ng-repeat="format in formats" value="{{format.value}}">{{format.option}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row no-vertical-margin" ng-show="showCustomFormat">
                    <div class="form-group margin-bottom"
                         ng-class="{'has-error': fieldPropertiesForm.format.$invalid}">
                        <label for="format" class="col-sm-4 control-label">Custom Format</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="format" name="format"
                                   ng-model="field.format" ng-required="false" ng-value="selectedFormat">
                        </div>
                    </div>
                </div>
                <div class="row no-vertical-margin">
                    <div class="form-group margin-bottom"
                         ng-class="{'has-error': fieldPropertiesForm.enableTime.$invalid}">
                        <label for="enableTime" class="col-sm-4 control-label"
                               title="Indicates if component time is enabled for this field.">Time enable:</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="enableTime" name="enableTime" ng-model="field.enableTime"
                                   class="ng-pristine ng-valid">
                        </div>
                    </div>
                </div>
                <!--<div class="row no-vertical-margin">-->
                    <!--<div class="form-group margin-bottom"-->
                         <!--ng-class="{'has-error': fieldPropertiesForm.utc.$invalid}">-->
                        <!--<label for="utc" class="col-sm-4 control-label"-->
                               <!--title="Indicates Time in UTC or not for this field.">UTC:</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="checkbox" id="utc" name="utc" ng-model="field.utc"-->
                                   <!--class="ng-pristine ng-valid" ng-change="onChangeUTCOption()">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </form>
    </uib-tab>
    <uib-tab index="1" heading="Validation">
        <form name="fieldValidationForm" class="form-horizontal">
            <div class="box-body padding-top">
                <div ng-include="'forms/schema/components/base-properties/required-properties.html'"></div>
            </div>
        </form>
    </uib-tab>
    <uib-tab index="2" heading="Debug" ng-show="debugMode">
        <div ng-include="'forms/schema/components/base-properties/model-properties.html'"></div>
    </uib-tab>
</uib-tabset>