<!DOCTYPE html>
<html lang="en" ng-app="example">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AngularJS ODS Lib</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <!-- Bower dependencies -->
    <!-- build:css css/seed.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="../bower_components/nz-toggle/dist/nz-toggle.css">
    <link rel="stylesheet" href="../bower_components/angular-confirm/dist/angular-confirm.min.css">
    <link rel="stylesheet" href="../bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css">
    <link rel="stylesheet" href="../bower_components/angular-dialog-service/dist/dialogs.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../dist/forms/style.css">
    <link rel="stylesheet" href="../../dist/steps-indicator/style.css">
    <!-- endinject -->
    <!-- endbuild -->

    <!--<style type="text/css">-->

        <!--.form-print{-->
            <!--background-color: #0f74a8;-->
        <!--}-->

        <!--.form-print1{-->
            <!--background-color: #00cc66;-->
        <!--}-->

    <!--</style>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-controller="FormsController">
<div class="container-fluid">

    <!--<section class="content-header">-->
        <!--<div class="starter-template">-->
            <!--<h1>AngularJS Form Builder Bootstrap based.</h1>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-6">-->
                <!--<button type="button" class="btn btn-primary" ng-click="parse1()">Parse test 1</button>-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<b>Original:</b>-->
                        <!--<div ng-bind-html="test1"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<b>Parsed:</b>-->
                        <!--<div ng-bind-html="templateResult1"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-6">-->
                <!--<button type="button" class="btn btn-success" ng-click="parse2()">Parse test 2</button>-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<b>Original:</b>-->
                        <!--<div ng-bind-html="test2"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<b>Parsed:</b>-->
                        <!--<div ng-bind-html="templateResult2"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <section class="content-header">
        <h1>Forms Builder</h1>
    </section>
    <section class="content">
        <ods-form-builder schema="schema" debug-mode="true"></ods-form-builder>
    </section>

</div>

<!-- build:js js/seed.min.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/jSignature/src/jSignature.js"></script>
<script src="../bower_components/jSignature/src/plugins/jSignature.CompressorBase30.js"></script>
<script src="../bower_components/jSignature/src/plugins/jSignature.CompressorSVG.js"></script>
<script src="../bower_components/jSignature/src/plugins/jSignature.UndoButton.js"></script>
<script src="../bower_components/webcam-directive/dist/webcam.min.js"></script>
<script src="../bower_components/angular-ui-select/dist/select.js"></script>
<script src="../bower_components/nz-toggle/dist/nz-toggle.js"></script>
<script src="../bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/angular-confirm/dist/angular-confirm.min.js"></script>
<script src="../bower_components/angular-translate/angular-translate.js"></script>
<script src="../bower_components/angular-jquery/dist/angular-jquery.js"></script>
<script src="../bower_components/ckeditor/ckeditor.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>
<script src="../bower_components/angular-dialog-service/dist/dialogs.js"></script>
<script src="../bower_components/angular-dialog-service/dist/dialogs-default-translations.js"></script>
<script src="../bower_components/angular-bootstrap-affix/dist/angular-bootstrap-affix.js"></script>
<script src="../bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../dist/ods-lib.js"></script>
<script src="app.js"></script>
<!-- endinject -->
<!-- endbuild -->
<!--<script src="../bower_components/ckeditor/plugins/autocomplete/plugin.js"></script>-->
</body>
</html>