<uib-tabset class="nav-tabs-custom">
    <uib-tab index="0" heading="Properties">
        <form name="fieldPropertiesForm" class="form-horizontal">
            <div class="box-body padding-top">
                <div ng-include="'forms/schema/components/base-properties/common-properties.html'"></div>
            </div>
        </form>
    </uib-tab>
    <uib-tab index="1" heading="Validation">
        <form name="fieldValidationForm" class="form-horizontal">
            <div class="box-body padding-top">
                <div class="row no-vertical-margin">
                    <div class="form-group margin-bottom"
                         ng-class="{'has-error': fieldValidationForm.patternSelect.$invalid}">
                        <label for="patternSelect" class="col-sm-2 control-label">Pattern Selection</label>
                        <div class="col-sm-10">
                            <select name="patternSelect" id="patternSelect" ng-model="field.patternSelect"
                                    class="form-control" ng-change="onSelectPattern()">
                                <option value="">Select Pattern...</option>
                                <option ng-repeat="option in patterns  | filter:{group:'password'}"
                                        value="{{option.value}}">{{option.title}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row no-vertical-margin">
                    <div class="form-group margin-bottom"
                         ng-class="{'has-error': fieldValidationForm.pattern.$invalid}">
                        <label for="pattern" class="col-sm-2 control-label">Pattern</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="pattern" name="pattern"
                                   ng-model="field.validation.pattern" ng-required="false" readonly>
                        </div>
                    </div>
                </div>
                <div class="row no-vertical-margin" ng-show="field.patternSelect">
                    <div class="form-group margin-bottom"
                         ng-class="{'has-error': fieldValidationForm.patternMessage.$invalid}">
                        <label for="patternMessage" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="patternMessage" name="patternMessage"
                                   placeholder="Pattern Message..." ng-model="field.validation.messages.pattern"
                                   ng-required="false">
                        </div>
                    </div>
                </div>
                <div ng-include="'forms/schema/components/base-properties/required-properties.html'"></div>
            </div>
        </form>
    </uib-tab>
    <uib-tab index="2" heading="Debug" ng-show="debugMode">
        <ods-model model="field"></ods-model>
    </uib-tab>
</uib-tabset>