<div class="form-group has-feedback">
    <label ng-show="label" class="control-label" for="{{name}}">{{label}}</label>
    <input name="{{name}}" type="{{type}}" class="form-control"  placeholder="{{placeholder}}" ng-model="ngModel"
           ng-focus="onFocus()" ng-blur="onBlur()" ui-mask="{{mask}}" ng-disabled="ngDisabled" ng-required="ngRequired">
    <span class="{{icon}} form-control-feedback" style="cursor: {{cursor}}; pointer-events: all;"
          ng-click="toggleFn()">
    </span>
</div>