<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" id="myImageLabel">Change/Edit Image</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6" style="text-align: center;">
                <div class="img-responsive img-thumbnail">
                    <ui-cropper image="vm.original"
                                area-type="{{vm.areaType}}"
                                chargement="'Loading'"
                                result-image-size="vm.croppedImageSize"
                                result-image="vm.model"
                                canvas-scalemode="true"
                                change-on-fly="true">
                    </ui-cropper>
                </div>
            </div>
            <div class="col-lg-6" style="text-align: center;">
                <img class="img-responsive img-thumbnail" ng-src="{{vm.model}}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-warning btn-block" ngf-select
                        ngf-change="vm.handleFileSelect($event, $file)" accept="image/*">
                    <i class="fa fa-image" aria-hidden="true"></i> Browse...
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="vm.setDefault()">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Restore default
        </button>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-save" aria-hidden="true"></i> Save
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.clear()">
            <i class="fa fa-ban" aria-hidden="true"></i> Cancel
        </button>
    </div>
</form>
