<div class="box-schema">
    <div class="alert alert-danger" ng-show="vm.error">
        <strong>An error has occurred!</strong> Error in schema.
    </div>
    <ul dnd-list="schema.layout" dnd-allowed-types="schema.allowedTypes">
        <li class="box-schema-section" ng-repeat="section in schema.layout"
            dnd-draggable="section"
            dnd-disable-if="section.componentType == undefined"
            dnd-effect-allowed="move"
            dnd-moved="schema.layout.splice($index, 1)">
            <ods-section schema="schema" section="section" index="$index" debug-mode="debugMode"></ods-section>
        </li>
    </ul>
</div>