<div class="box-schema">
    <div class="alert alert-danger" ng-show="vm.error">
        <strong>An error has occurred!</strong> Error in schema.
    </div>
    <div class="container" ng-if="schema.layout.length === 0" style="width: 100%;">
        <div class="col-lg-12 alert alert-info text-center">
            <p class="box-schema-area-empty-x"><span class="fa fa-arrow-down"></span></p>
            <p class="lead hidden-phone">To start <strong>Drag</strong> a <strong>section</strong>
                from the <strong>toolbar</strong> down to this <strong>canvas</strong>.</p>
        </div>
    </div>
    <ul dnd-list="schema.layout" dnd-allowed-types="schema.allowedTypes" dnd-inserted="onAdd(item, type)">
        <li class="box-schema-section" ng-repeat="section in schema.layout"
            dnd-draggable="section"
            dnd-disable-if="section.componentType == undefined"
            dnd-effect-allowed="move"
            dnd-moved="schema.layout.splice($index, 1)">
            <ods-section schema="schema" section="section" config="config" index="$index" debug-mode="debugMode"></ods-section>
        </li>
    </ul>
</div>