<uib-tabset class="nav-tabs-custom">
    <uib-tab index="0" heading="Properties">
        <form name="fieldPropertiesForm" class="form-horizontal">
            <div class="box-body padding-top">
                <div ng-include="'forms/schema/components/base-properties/common-properties.html'"></div>
            </div>
        </form>
    </uib-tab>
    <uib-tab index="1" heading="Validation">
        <form name="fieldValidationForm" class="form-horizontal">
            <div class="box-body padding-top">
                <div ng-include="'forms/schema/components/base-properties/pattern-properties.html'"></div>
                <div ng-include="'forms/schema/components/base-properties/required-properties.html'"></div>
            </div>
        </form>
    </uib-tab>
    <uib-tab index="2" heading="Debug" ng-show="debugMode">
        <ods-model model="field"></ods-model>
    </uib-tab>
</uib-tabset>