<uib-tabset class="nav-tabs-custom">
    <uib-tab index="0" heading="Properties">
        <form name="fieldPropertiesForm" class="form-horizontal">
            <div class="box-body padding-top">
                <div ng-include="'forms/schema/components/base-properties/name-properties.html'"></div>
                <div ng-include="'forms/schema/components/base-properties/label-properties.html'"></div>
                <div ng-include="'forms/schema/components/base-properties/value-properties.html'"></div>
                <div ng-include="'forms/schema/components/toggle/ln-properties.html'"></div>
            </div>
        </form>
    </uib-tab>
    <uib-tab index="2" heading="Debug" ng-show="debugMode">
        <div ng-include="'forms/schema/components/base-properties/model-properties.html'"></div>
    </uib-tab>
</uib-tabset>