<div class="{{cssClass}}">
    <div class="form-header with-border">
        <h3 class="box-title" ng-bind-html="schema.label"></h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div ng-if="schema.layout.length !== 0">
        <div class="box-body padding-top">
            <div ng-repeat="section in schema.layout">
                <h4 ng-bind-html="section.title"></h4>
                <div class="{{row.cssClass}}" ng-repeat="row in section.rows">
                    <div class="{{col.cssClass}}" ng-repeat="col in row.cols">
                        <div class="" ng-repeat="field in col.fields">
                            <div ng-if="field">
                                <div class="form-group"
                                     ng-class="{'has-error': {{schema.name}}.{{field.name}}.$invalid}">

                                    <label class="control-label" for="{{field.name}}"
                                           ng-hide="hideTitle(field)">{{field.label}}:&nbsp;</label>
                                    <!--ng-if="field.value"-->

                                    <ng-include src="getFormViewerTemplate(field.type)"></ng-include>

                                    <div ng-show="{{schema.name}}.{{field.name}}.$invalid">
                                        <p class="help-block"
                                           ng-show="{{schema.name}}.{{field.name}}.$error.required">
                                            {{field.validation.messages.required}}
                                        </p>
                                        <p class="help-block"
                                           ng-show="{{schema.name}}.{{field.name}}.$error.minlength">
                                            {{field.validation.messages.minlength}}
                                        </p>
                                        <p class="help-block"
                                           ng-show="{{schema.name}}.{{field.name}}.$error.maxlength">
                                            {{field.validation.messages.maxlength}}
                                        </p>
                                        <p class="help-block"
                                           ng-show="{{schema.name}}.{{field.name}}.$error.pattern">
                                            {{field.validation.messages.pattern}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="box-footer" ng-show="schema.handleSubmit">-->
        <!--<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="clear()">-->
        <!--<span class="fa fa-trash-o"></span>&nbsp;<span>Clear</span>-->
        <!--</button>-->
        <!--<button type="submit" ng-disabled="{{schema.name}}.$invalid" class="btn btn-primary">-->
        <!--<span class="fa fa-save"></span>&nbsp;<span>Save</span>-->
        <!--</button>-->
        <!--</div>-->
    </div>
</div>