<uib-tabset class="nav-tabs-custom">
    <uib-tab index="0" heading="Properties">
        <form name="fieldPropertiesForm" class="form-horizontal">
            <div class="box-body padding-top">
                <div ng-include="'forms/schema/components/base-properties/name-properties.html'"></div>
                <div ng-include="'forms/schema/components/base-properties/label-properties.html'"></div>
                <div class="row no-vertical-margin">
                    <div class="form-group margin-bottom"
                         ng-class="{'has-error': fieldPropertiesForm.inline.$invalid}">
                        <label for="inline" class="col-sm-4 control-label"
                               title="Indicates if will show inline or not.">Inline:</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="inline" name="inline" ng-model="field.inline">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>
    <uib-tab index="1" heading="Options">
        <form name="fieldValidationForm" class="form-horizontal">
            <div class="box-body padding-top">
                <ods-field-checkboxlist-options field="field"></ods-field-checkboxlist-options>
            </div>
        </form>
    </uib-tab>
    <uib-tab index="2" heading="Debug" ng-show="debugMode">
        <div ng-include="'forms/schema/components/base-properties/model-properties.html'"></div>
    </uib-tab>
</uib-tabset>