<div class="ods-wizard-content">
    <div class="ods-wizard-circle ods-wizard clearfix">
        <div class="steps clearfix">
            <ul>
                <li class="" ng-repeat="step in ngModel"
                    ng-class="{ 'first': $index === 0, 'done': step.done, 'last': $index === ngModel.length -1, 'disabled': step.disabled, 'current': step.current}"
                    ng-show="step.visible">
                    <a href="" ng-click="step.callback()"><span class="step">{{step.label}}</span></a>
                </li>
                <!--<li class="first done">-->
                <!--<a href=""><span class="step">Select template</span></a>-->
                <!--</li>-->
                <!--<li class="current">-->
                <!--<a href="" ui-sref="{{vm.parentName}}.info"><span class="step">Information</span></a>-->
                <!--</li>-->
                <!--<li class="">-->
                <!--<a href="" ui-sref="{{vm.parentName}}.form"><span class="step">Form</span></a>-->
                <!--</li>-->
                <!--<li class="disabled" ng-show="vm.doc.billable"><a href="" ui-sref="{{vm.parentName}}.services">-->
                <!--<span class="step">Services</span></a>-->
                <!--</li>-->
                <!--<li class="disabled">-->
                <!--<a href="" ui-sref="{{vm.parentName}}.attachment"><span class="step">Attachments</span></a>-->
                <!--</li>-->
                <!--<li class="disabled">-->
                <!--<a href="" ui-sref="{{vm.parentName}}.signature"><span class="step">Signature</span></a>-->
                <!--</li>-->
                <!--<li class="disabled last">-->
                <!--<a href="" ui-sref="{{vm.parentName}}.finish"><span class="step">Finish</span></a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>


<!--<div class="ods-breadcrumb {{class}}">-->
<!--<a class="{{step.status}} {{step.disabled ? 'disabled': ''}}" ng-repeat="step in ngModel" ng-click="changeStatus(step)">{{step.label}}</a>-->
<!--</div>-->
