<div ng-include="'forms/schema/components/base-properties/name-properties.html'"></div>
<div ng-include="'forms/schema/components/base-properties/label-properties.html'"></div>
<div ng-include="'forms/schema/components/base-properties/placeholder-properties.html'"></div>
<div ng-include="'forms/schema/components/base-properties/tooltip-properties.html'"></div>
<div ng-include="'forms/schema/components/base-properties/value-properties.html'"></div>
<div ng-include="'forms/schema/components/base-properties/readonly-properties.html'"></div>
