<div class="row no-vertical-margin">
    <div class="form-group margin-bottom"
         ng-class="{'has-error': fieldValidationForm.{{field.name}}-exportable.$invalid}">
        <label for="{{field.name}}-exportable" class="col-sm-4 control-label"
               title="Indicates if a value is required for this field.">Exportable:</label>
        <div class="col-sm-8">
            <input type="checkbox" id="{{field.name}}-exportable" name="{{field.name}}-exportable"
                   ng-model="field.exportable"
                   class="ng-pristine ng-valid">
        </div>
    </div>
</div>
