<div class="row no-vertical-margin">
    <div class="form-group margin-bottom"
         ng-class="{'has-error': fieldValidationForm.maxLength.$invalid}">
        <label for="maxLength" class="col-sm-2 control-label">Max Length:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="maxLength" name="maxLength"
                   placeholder="Max Length..." ng-model="field.validation.maxlength"
                   ng-required="false" ng-change="onChangeMaxLength()">
        </div>
    </div>
</div>
<div class="row no-vertical-margin" ng-show="field.validation.maxlength">
    <div class="form-group margin-bottom"
         ng-class="{'has-error': fieldValidationForm.minLengthMessage.$invalid}">
        <label for="maxLengthMessage" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="maxLengthMessage" name="maxLengthMessage"
                   placeholder="Max length message..." ng-model="field.validation.messages.maxlength"
                   ng-required="false">
        </div>
    </div>
</div>