<div class="row no-vertical-margin">
    <div class="form-group margin-bottom"
         ng-class="{'has-error': fieldValidationForm.{{field.name}}-readonly.$invalid}">
        <label for="{{field.name}}-readonly" class="col-sm-4 control-label"
               title="Indicates if is readonly this field.">Readonly:</label>
        <div class="col-sm-8">
            <input type="checkbox" id="{{field.name}}-readonly" name="{{field.name}}-readonly" ng-model="field.readonly"
                   class="ng-pristine ng-valid">
        </div>
    </div>
</div>