<div class="row no-vertical-margin">
    <div class="form-group margin-bottom"
         ng-class="{'has-error': fieldValidationForm.{{field.name}}-required.$invalid}">
        <label for="{{field.name}}-required" class="col-sm-4 control-label"
               title="Indicates if a value is required for this field.">Required:</label>
        <div class="col-sm-8">
            <input type="checkbox" id="{{field.name}}-required" name="{{field.name}}-required"
                   ng-model="field.validation.required"
                   class="ng-pristine ng-valid" ng-change="onChangeRequired()">
        </div>
    </div>
</div>
<div class="row no-vertical-margin" ng-show="field.validation.required">
    <div class="form-group margin-bottom"
         ng-class="{'has-error': fieldValidationForm.{{field.name}}-requiredMessage.$invalid}">
        <label for="{{field.name}}-requiredMessage" class="col-sm-4 control-label">Required Message</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="{{field.name}}-requiredMessage"
                   name="{{field.name}}-requiredMessage"
                   placeholder="Required Message..." ng-model="field.validation.messages.required"
                   ng-required="false">
        </div>
    </div>
</div>