<div class="row no-vertical-margin">
    <div class="form-group margin-bottom"
         ng-class="{'has-error': fieldPropertiesForm.{{field.name}}-tooltip.$invalid}">
        <label for="{{field.name}}-tooltip" class="col-sm-4 control-label">Tooltip:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="{{field.name}}-tooltip" name="{{field.name}}-tooltip"
                   placeholder="Tooltip..." ng-model="field.tooltip" ng-required="false">
        </div>
    </div>
</div>