


.viewerContainer {
    max-height: 90vh;
    overflow: auto;
    /*-webkit-overflow-scrolling: touch;*/
    /*position: absolute;*/
    /*top: 32px;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*outline: none;*/
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.pdfViewer {

    background: #404040 url(web/images/texture.png);
}

.page {

    direction: ltr;
    /*width: 816px;*/
    /*height: 1056px;*/
    margin: 1px auto 10px auto;
    position: relative;
    overflow: visible;
    border: 9px solid transparent;
    background-clip: content-box;
    border-image: url(web/images/shadow.png) 9 9 repeat;
    background-color: white;
}
