<div class="box-draggable">
    <div class="btn-toolbar btn-toolbar-right">
        <button class="btn btn-default btn-xs btn-primary" type="button" ng-click="vm.addField(field)"
                title="Add this field.">
            <span class="fa fa-plus"></span>
        </button>
    </div>
</div>
<!--<div fg-field="template"-->
<!--fg-tab-index="-1"-->
<!--fg-no-validation-summary="true"-->
<!--fg-edit-mode="true"></div>-->
<label class="control-label" for="{{field.name}}">{{field.title}}</label>
<input class="form-control" name="{{field.name}}" id="{{field.name}}"/>
