<div class="toolbar-container box-solid" bs-affix data-offset-top="10" data-offset-bottom="0">
    <div class="form-header with-border">
        <div class="row" style="margin: 0">
            <div class="col-lg-6">
                <h3 class="box-title">{{toolbar.title}}</h3>
            </div>
            <div class="col-lg-6 accordion-button-right">
                <label class="btn btn-success btn-sm" title="Import schema">
                    <i class="fa fa-upload"></i>
                    Import <input type="file" hidden ng-model="importFile" accept=".json" ods-file-upload>
                </label>
                <!--<button class="btn btn-primary btn-sm" title="Export schema" ng-click="export()">-->
                    <!--<i class="fa fa-download"></i>-->
                    <!--Export-->
                <!--</button>-->
                <button class="btn btn-primary btn-sm" title="Export schema" ng-click="export()">
                    <i class="fa fa-download"></i>
                    Export
                </button>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" panel-class="panel-toolbar" heading="{{group.title}}"
                 is-open="group.open" is-disabled="group.disabled" ng-repeat="group in toolbar.groups"
                 ng-init="groupIndex = $index">
                <ul class="list-group no-margin-bottom">
                    <li class="toolbar-component padding-bottom no-padding-top"
                        ng-repeat="component in group.components">
                        <div class="box-toolbar"
                             dnd-draggable="component"
                             dnd-type="component.componentType"
                             dnd-effect-allowed="copy"
                             ng-include="'forms/toolbar/components/component.html'">
                        </div>
                    </li>
                </ul>
            </div>
        </uib-accordion>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
