<div class="row no-vertical-margin">
    <div class="form-group margin-bottom">
        <label for="{{field.name}}-limitTo" class="col-sm-2 control-label">Limit to:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="{{field.name}}-limitTo" name="{{field.name}}-limitTo"
                   placeholder="Limit list to..." ng-model="field.limitTo"
                   ng-required="false">
        </div>
    </div>
</div>
<div class="table-responsive" style="max-height: 250px">
    <table class="table table-condensed position-relative" style="position: relative;">
        <thead>
        <tr>
            <th></th>
            <th>Value</th>
            <th>Text</th>
            <th>
                <button class="btn btn-default btn-xs btn-success" type="button" ng-click="addOption()"
                        title="Add a new option"><span class="fa fa-plus"></span>
                </button>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-form="fieldOptionForm" ng-repeat="option in options"
            ng-class="{ 'has-error': fieldOptionForm.$invalid }">
            <td>
                <input type="radio" name="{{field.name}}Selected[]" ng-value="field.options[$index].value" ng-model="field.value"/>
            </td>
            <td>
                <input type="text" name="optionValue" ng-model="option.id" ng-required="true"
                       class="form-control" required="required"/>
            </td>
            <td>
                <input type="text" ng-model="option.name" class="form-control" required="required"/>
            </td>
            <td>
                <button class="btn btn-default btn-xs btn-danger" type="button" ng-click="removeOption($index)"
                        title="Remove this option"><span class="fa fa-trash"></span>
                </button>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
