<div class="input-group">
    <input id="{{field.name}}" class="form-control" ods-dynamic-name="field.name" type="text" enable-time="field.enableTime"
           datetime-picker="{{field.format}}" ng-required="getRequired(field)" ng-model="field.value"
           is-open="field.open" model-options="field.options"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openCalendar(field)">
            <i class="fa fa-calendar"></i>
        </button>
    </span>
</div>